.lockup {
  color: white;
  height: auto;
  width : 100%;
  background: #00142e;
}

.lockupContentBg {
  height: 100%;
  padding: 20px;
}

.header {
  width: 75%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 35px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
}

.text1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 125%;
  align-items: center;
  letter-spacing: -0.01em;
}
.text2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 125%;
  color: #0096ff;
  align-items: center;
  letter-spacing: -0.01em;
}

.text3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 125%;
  align-items: center;
  letter-spacing: -0.01em;
}

.pointer11 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 30px;
  line-height: 100%;
  color: #0096ff;
  align-items: center;
  letter-spacing: 0.03em;
}

.pointer12 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 30px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.03em;
}

.icon {
  height: 40px;
  width: 40px;
  border: 1px solid white;
}

.lockupPara {
  margin-bottom: 70px;
}

.contentPointer {
  gap: 15px;
}

.Lockupicon{
  margin-left: 5px;
  margin-top: 5px;
}

.text4{
  width : 50px;
  height: 10px;
  border: 1px solid white ;
}